footer.footer
    .container
        .footer__main-block
            .footer__column
                a(href='#' class='grey-link') Latest Posts
                a(href='#' class='grey-link') Popular Posts
            .footer__column
                a(href='#' class='grey-link') Search
                a(href='#' class='grey-link') Contact Information
            .footer__column
                a(href='#' class='grey-link') Privacy Policy
                a(href='#' class='grey-link') Terms of Use
            .footer__column-socials
                +socials(elements, 'socials--top')
    .footer__copyright
        p © Copyright 2019. All rights reserved.