header.header
    .header__row
        +socials(elements, 'socials--top')
        h1.header__title Hipsum Blog
        .header__button-group
            .header__search-wrapper
                a(href='#') 
                    img(src='../../img/icons/search.svg', alt="Найти")
            +blue-button('#', 'subscribe', 'blue-button--round')