.socials-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.2s ease-in;

    img:hover {
        opacity: 0.5;
    }
}

.socials--top {
    width: 140px;
    img {
        width: 24px;
    }
}

.socials--post {
    width: 150px;
    img {
        width: 20px;
    }
}