.vidget-button {
    width: 270px;
    height: 70px;
    display: block;
    text-align: center;
    border: 1px solid $grey-color;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: $main-text-color;
    font-size: 18px;
    line-height: 70px;
    transition: color 0.2s ease-in;

    &:hover {
        color: $grey-text-color;
    }
}